[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-filter = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pre-commit = "*"
yapf = "*"
pylint-django = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
